.status-icon {
    display:inline;
    align-items: center;
    justify-content: center;
    font-size: 24px; // Ajustar tamaño si es necesario
  
    &.checked mat-icon {
      color: green;
    }
  
    &.unchecked mat-icon {
      color: red;
    }
  }

  .state-item {
    display: flex;
    align-items: center;
    gap: 8px; // Espaciado entre el ícono y el texto
  }
  