.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
  background-color: #dbb8ff;
  border-top-right-radius: 0px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  background-color: #dbb8ff;
  top: 0;
  z-index: 1;
}
