@use '@angular/material' as mat;
@use '../theme-violet.scss' as well;

html {
  @include mat.theme((
    color: (
      theme-type: light,
      primary: well.$primary-palette,
      tertiary: well.$tertiary-palette
    ),
    typography: Roboto,
    density: 0,
  ));
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
