table {
    width: 100%;
    table-layout: auto;
  }
  
  .mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td, th {
    white-space: nowrap;
    padding: 8px;
  }

  td.responsive-column {
    white-space: normal; /* Permite que el texto haga saltos de línea */
    word-wrap: break-word; /* Rompe el texto en palabras si es muy largo */
    max-width: 300px; /* Define un ancho máximo para evitar que crezca demasiado */
  }

  .insurer {
    font-size: 0.9em;
    color: gray;
  }

  .cuil {
    font-size: 1em;
    color: rgb(0, 0, 0);
    font-weight: bold;
  }

  .sub-row td {
    background-color: #d3d3d3;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 10px 16px;
    color: #444;
  }