table {
    width: 100%;
    table-layout: auto;
  }
  
  .mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td, th {
    white-space: nowrap;
    padding: 8px;
  }

  td.concept-column {
    white-space: normal; /* Permite que el texto haga saltos de línea */
    word-wrap: break-word; /* Rompe el texto en palabras si es muy largo */
    max-width: 300px; /* Define un ancho máximo para evitar que crezca demasiado */
  }